.project {
  background: #efefef;
  border-radius: 5px;
  display: block;
  padding: 30px;
  margin-bottom: 15px;

  img {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 18px;
    line-height: 18px;
  }

  li {
    list-style: none;
  }

  strong {
    display: none;
    line-height: 18px;
  }

  &:hover h2 {
    display: none;
  }

  &:hover strong {
    display: block;
  }

}
