.active {
  color: #000;
}

a {
  color: #ccc;
}

main,
aside {
  transition: .75s ease-in-out;
}

aside {
  background: #f4f5f9;
}

// Make Content Full-Height of Window
.full-height {
  min-height: 100vh;
}

.hide-slideshow {
  animation: fadeOut .3s;
}

// Fade out and dissapear
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    width: 0;
  }
}
