<div class="grid-wrapper container-fluid">
  <div class="row no-gutter full-height">
    <main [@fadeAnimation]="getState(o)" class="{{mainWidthClass}} col-md-12">
      <div class="container">
        <app-navigation></app-navigation>
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </main>
    <aside class="{{slideshowWidthClass}} col-md-12">
      <div class="slideshow">
        <div><img src="https://images.ctfassets.net/yoo4e4pv9t7m/2guuC5offjelAzAMrWkK2y/ecf265c495db2a7890e657485c59a487/Subway_Sign.jpg?&w=1200&h=1200&q=90" style="border-radius: 5px; overflow: hidden; box-shadow: 0 2px 30px -5px rgba(0,0,0,.5)"></div>
      </div>
    </aside>
  </div>
</div>
