@import '~src/variables';

.button {
  background: $brand-primary;
  border-radius: 100px;
  color: $white;
  font-weight: bold;
  margin-right: 24px;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: darken($brand-primary, 5);
  }

  &.white {
    background: $white;
    border: 1px solid #ccc;
  }

  &.outlined {
    border: 1px solid $black;
    color: $black;

    &:hover {
      background: low-emphasis($black);
    }

    &:active {
      background: medium-emphasis($black);
    }
  }

  &.large {
    margin-right: 12px;
    padding: 25px 35px;
  }

  &.full-width {
    display: block;
  }

  &.small {
    margin-right: 36px;
    padding: 10px 20px;
  }

  &.text {
    background: transparent;
    color: $black;

    &:hover {
      background: low-emphasis($black);
    }

    &:active {
      background: medium-emphasis($black);
    }
  }
}
