@import '~src/variables';

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $global-margin;
  padding: $global-padding 0;

  .toggle {
    display: none;
  }

  a {
    color: $light-gray;
    font-weight: normal;
    transition: all .15s ease;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      color: $black;
      letter-spacing: 1px;
    }

    &.active {
      color: $black;
      padding-bottom: 5px;
      border-bottom: 2px solid $brand-primary;
    }
  }

  .logo {
    display: inline-block;
    text-decoration: none;

    img {
      vertical-align: middle;
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
  }

  li {
    padding: 0 $global-padding - 5;
  }
}

// // Mobile Styling
// @media (max-width: 800px) {
//   nav {

//     .toggle {
//       display: block;
//     }

//     ul {
//       display: none;
//       flex-direction: column;
//       flex-basis: 100%;
//       flex-grow: 1;
//       width: 100%;
//       background: #000;
//       box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
//       padding: 15px !important;
//       z-index: 3000;
//       margin-top: 10px;
//       border-radius: 25px;
//     }

//     li {
//       margin: 8px 0;

//       a {
//         display: block;

//         &:hover {
//           color: #000;
//         }
//       }
//     }

//   }

//   .active {
//     display: flex;
//   }
// }
