@import '~src/variables';
@import '~src/styles/grid/breakpoints';

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: $global-padding;

  .toggle {
    display: none;
  }

  a {
    color: $light-gray;
    font-weight: normal;
    font-size: $global-font-size;
    transition: all 150ms ease;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $black;
      font-weight: bold;
    }

    &.active {
      color: $black;
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 2px solid $brand-primary;
    }
  }

  .logo {
    display: inline-block;
    text-decoration: none;
    transition: 230ms $global-ease;

    img {
      vertical-align: middle;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  li {
    padding: 0 $global-padding;
  }
}

.layout-underline {
  border-bottom: 1px solid $border-color;
  margin-bottom: $global-margin;
}

// Nav Padding for Small Screens
@include media-breakpoint-down(xs) {
  .logo {
    img {
      height: 45px;
    }
  }

  nav {
    padding: 15px 0;

    ul {
      padding-left: 0;
      width: 100%;
    }

    li {
      padding: 0;

      a {
        font-size: 14px;
      }
    }
  }
}
