@import '~src/variables';

footer {
  background: #070705;
  color: #787780;
  padding: $global-padding;
  text-align: center;
  height: 215px;
  font-size: 14px;
  z-index: -5;
  position: relative;
  margin-top: $global-margin;

  a {
    z-index: 25;
    padding: 25px;
    display: block;
  }

  &::before {
    clear: both;
  }
}
