// Import Global Variables
@import
'variables';

// Import Bootstrap Grid Only and Fonts
@import
'../src/styles/grid/bootstrap-grid',
'../src/styles/fonts';

body {
  margin: 0;
  padding: 0;
}

@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Font Styling
html {
  font-size: $global-font-size;
  font-family: 'Roboto Mono';
  line-height: line-height($global-font-size);
  color: $body-gray;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  margin: 0;
  padding: 0;
}

p,
main nav {
  margin: $global-font-size * 1.25 0;
}


a {
  color: $black;

  &:hover {
    color: $brand-primary;
  }
}

// Heading Sizes
$h1: 96px;
$h2: 60px;
$h3: 48px;
$h4: 34px;

//Heading Sizes
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: 'Roboto Mono';
  text-transform: uppercase;
  letter-spacing: .03rem;
  line-height: .95;
}

h1 {
  font-size: $h1;
  letter-spacing: -1.5px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: $h2;
  letter-spacing: -.5px;
}

h3 {
  font-size: $h3;
  letter-spacing: 0;
}

h4 {
  font-size: $h4;
  letter-spacing: .25px;
}

.img-fluid {
  width: 100%;
}


@include media-breakpoint-down(sm) {
  h1 {
    font-size: $h1 / 1.618;
  }

  h2 {
    font-size: $h2 / 1.618;
  }

  h3 {
    font-size: $h3 / 1.618;
  }

  h4 {
    font-size: $h4 / 1.618;
  }
}
