@import '~src/styles/grid/breakpoints';
@import '~src/variables';

@include media-breakpoint-up(sm) {
  .hero {
    max-width: 780px;
    margin: auto;
    position: relative;

    p {
      font-size: 16px;
      line-height: line-height(16px);
    }
  }
}
