<div class="hero">
  <div class="row">

    <h1>Eborall Digital Solutions</h1>
    <p>
      Conversion-optimized websites. Data-driven print design. Segmented Email Marketing. I've helped dozens of clients
      find digital solutions to their business problems.
    </p>
    <p>
      Let me take care of the technical details so that you can spend more time doing what you love – serving customers,
      fulfilling orders, and taking your business to the next level.
    </p>
  </div>
  <br>
  <div class="row">
    <app-button cta='My Work' btnStyle='' link="work"></app-button>
    <app-button cta='Contact Me' btnStyle='text' link="contact"></app-button>
  </div>
</div>
