<a [routerLink]="['..']" class="back-toggle"><img src="../../assets/img/arrow-left.svg" alt="Back"></a>

<article>
  <div class="row">
    <section class="col-md-12">
      <div class="project-head">
        <h1 class="headline">{{project.fields.projectName}}</h1>
        <div class="summary">{{project.fields.summary}}</div>
      </div>

      <a *ngIf="project.fields.mainMedia" href="{{project.fields.mainMedia.fields.file.url}}"><img src="{{project.fields.mainMedia.fields.file.url}}?&fm=jpg&fl=progressive&w=1180&h=750" alt="{{project.fields.projectThumb.fields.description}}" class="img-fluid" /></a>
    </section>

    <section class="row">
      <main [ngClass]="{'col-lg-6' : project.fields.media}">
        <markdown>{{project.fields.body}}</markdown>
        <section class="row">
          <div class="col-md-6">
            <dl *ngIf="project.fields.client">
              <dt>Client</dt>
              <dd>{{project.fields.client}}</dd>
              </dl>
            <dl *ngIf="project.fields.typeOfClient">
              <dt>Sector</dt>
              <dd>{{project.fields.typeOfClient}}</dd>
              </dl>
            </div>
          <div class="col-md-6">
            <dl *ngIf="project.fields.typeOfWork">
              <dt>Discipline</dt>
              <dd>{{project.fields.typeOfWork}}</dd>
              </dl>
            <dl *ngIf="project.fields.typeOfWork">
              <dt>Tools Used</dt>
              <dd>{{project.fields.tools}}</dd>
              </dl>
            </div>
          </section>
      </main>
      <aside *ngIf="project.fields.media" class="col-md-6 col-sm-12">
        <ul>
          <li *ngFor="let image of project.fields.media">
            <a href="{{image.fields.file.url}}"><img src="{{image.fields.file.url}}?fm=jpg&fl=progressive&fit=thumb&w=570&h=360" class="img-fluid"></a>
          </li>
        </ul>
      </aside>
    </section>
  </div>
</article>

