@import '~src/variables';
@import '~src/styles/grid/breakpoints';

.project-head {
<<<<<<< HEAD
<<<<<<< HEAD
  align-items: baseline;
  display: flex;
  justify-content: space-between;

  .headline {
    font-size: 34px;
  }
}

article {
  img {
    @include image-border;
=======
=======
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .headline {
    font-size: 34px;
<<<<<<< HEAD
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
=======
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
  }
}

aside {
  li {
    list-style: none;
    margin-bottom: 20px;
  }
}

<<<<<<< HEAD
<<<<<<< HEAD
.project-tags {
  column-count: 2;
}

dl {
  margin: 0;
  padding: $global-padding / 2;
  page-break-inside: avoid;

  dt {
    color: $black;
    font-weight: bold;
  }

=======
=======
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
dl {
  dt {
    font-weight: bold;
    color: $black;
  }
<<<<<<< HEAD
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
=======
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
  dd {
    margin-left: 0;
  }
}

.back-toggle {
<<<<<<< HEAD
<<<<<<< HEAD
  color: $black;
  opacity: .5;
  top: 30px;

  &:hover {
    opacity: 1;
    transform: scale(1.25);
=======
=======
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
  color: black;
  top: 30px;
  opacity: .5;

  &:hover {
    transform: scale(1.25);
    opacity: 1;
<<<<<<< HEAD
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
=======
>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
  }
}

// Back button location on larger screens
@include media-breakpoint-up(md) {
  .back-toggle {
    margin-left: -75px;
    position: sticky;
  }

  article {
    margin-top: -80px;
  }

}

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
=======

>>>>>>> b5342c90fc48d75551b74e9d73a53c9d514970bb
@include media-breakpoint-down(md) {
  .project-head {
    display: block;
    margin-bottom: $global-margin;

    h1 {
      margin-bottom: $global-margin / 2;
    }
  }

  aside {
    ul {
      padding-left: 0;
    }
  }
}
