@import '~src/variables';

.project-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .headline {
    font-size: 34px;
  }
}

aside {
  li {
    list-style: none;
    margin-bottom: 20px;
  }
}

.back-toggle {
  color: black;
  position: sticky;
  top: 30px;
  margin-left: -75px;
  transition: 1s cubic-bezier(.4, .0, .2, 1);

  img:hover {
    transform: scale(1.25);
  }
}

article {
  margin-top: -80px;
}
