@import '~src/variables';

.project-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headline {
    font-size: 34px;
  }
}

aside {
  li {
    list-style: none;
    margin-bottom: 20px;
  }
}

.back-toggle {
  color: black;
  position: sticky;
  top: 0;
  margin-left: -75px;
}

img {
  transition: .25s ease;

  &:hover {
    box-shadow: 0 0 30px rgba($black, .12);
    transform: scale(1.05);
  }
}
