<h1>Contact</h1>
<p>Every project is unique. Tell me a bit about yours and see how much time and energy I can save you.</p>
<form autocomplete="on" method="post" action="https://formspree.io/josepheborall@gmail.com">
  <div class="row">
    <div class="col-lg-6"><input type="text" name="name" placeholder="Name"></div>
    <div class="col-lg-6"><input type="phone" name="phone-number" placeholder="(XXX) XXX-XXXX"></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <input type="email" name="email" placeholder="Email Address">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <textarea name="message" type="text" style="min-width: 100%; min-height: 150px;" placeholder="Message..."></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-button cta='Submit' link="work" btnStyle="black" type="submit"></app-button>
    </div>
  </div>

</form>


